
<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <table class="table table-blue table-bordered table-striped">
     <thead>
       <tr>
         <th scope="col">IBAN</th>
         <th scope="col">Balance</th>
       </tr>
     </thead>
     <template is="dom-repeat" id="user_id" items="{{accounts}}">
         <tr>
             <th scope="row">{{item.IBAN}}</th>
             <td>{{item.balance}}</td>
       </tr>
     </template>
    </table>    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button>
    <iron-ajax
      auto="true"
      id="getUser"
      url="http://localhost:3000/colapi/v3/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData"></iron-ajax>

    <!--    <h1>id: [[id]]</h2>
    <h2>Nombre :[[first_name]]</h2>
    <h2>Apellido : [[last_name]] años</h2>
    <h2>e-mail : [[email]]</h2>

              hola two way binding -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          iban: {
            type: String,
          },
          user_id: {
            type: String
          },
          balance: {
            type: String
          },
          accounts: {
            type: Array
          }
        };
      }
      showData(data){
             //console.log(data);
             console.log("Recibidos datos del usuarios:");
       // mLab nos devuelve un array con el objeto solicitado por eso [0]
             console.log(data.detail.response);

             this.accounts = data.detail.response;
           }
    }
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>
</dom-module>
