<link rel="import" href="../../bower_components/polymer/polymer-element.html">



<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12">Login Usuario</h2>
   </div>
   <input type="email" placeholder="Email" value="{{email::input}}">
   <input type="password" placeholder="Password" value="{{password::input}}">
   <button class="btn btn-success" on-click="login">Login</button>
   <button class="btn btn-warning" on-click="logout">Logout</button>
   <!-- $ por ser un atributo HTML en vez de un elemnto polymer
 <my-componente my-hidden = {{isLogged}}
 <span hidden$ =
 -->
   <span hidden$="{{!isLogged}}">Logado</span>

   <iron-ajax
     id="doLogout"
     url="http://localhost:3000/colapi/v3/logout"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v3/login4"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
     }

     logout() {
       console.log("El usuario ha pulsado el botón logut.");
       var logoutData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogout.body = JSON.stringify(logoutData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogout.generateRequest();
       console.log("Log out correcto");
     }
     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
     // this.isLogged = true;
     // redirigir
     // window.location = "/user/" + data.detail.response.id;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
