<link rel="import" href="../../bower_components/polymer/polymer-element.html">



<dom-module id="navegacion-app">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <app-location route="{{ruta}}"></app-location>
   <app-route route="{{ruta}}" pattern="/bancaonline" data="{{datoruta}}" tail="{{subruta}}"></app-route>
   <app-route route="{{ruta}}" pattern="/" data="{{datoRuta}}" tail="{{subruta}}"></app-route>
   <!-- iron-pages selects the view based on the active route -->
   <h1>Prueba</h1>
   <div hidden$="{{logged}}">
     <banco-login id="loginEjemplo" on-logged="gestionarLogged"></banco-login>
   </div>
   <div hidden$="{{!logged}}">
     <mensaje-app prop1="Movimientos"></mensaje-app>
     <mensaje-app prop1="Saldos"></mensaje-app>
     <mensaje-app prop1="Cuentas"></mensaje-app>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class NavegacionApp extends Polymer.Element {
     static get is() { return 'navegacion-app'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login() {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
       // convertimos el objeto JS a un JSON
       // el $ es por convención
       // body es una propiedad del iron-ajax
       this.$.doLogin.body = JSON.stringify(loginData);
       // hacemos petición con los datos del formulario del iron-ajax
       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
     //  this.isLogged = true;
     // redirigir
     window.location = "/user/" + data.detail.response.id;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(NavegacionApp.is, NavegacionApp);
 </script>
</dom-module>
