<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Sos :[[name]]</h2>
    <h2>tenes : [[age]] años</h2>
    <!-- hola two way binding -->
    <input type="text" value={{name::input}} />
    <input type="range" min="18" max="120" value={{age::input}} />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponenteDos extends Polymer.Element {
      static get is() { return 'componente-dos'; }
      static get properties() {
        return {
          name: {
            type: String
          },
          age: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(ComponenteDos.is, ComponenteDos);
  </script>
</dom-module>
