<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-test">
  <template>
    <style>
      :host {
        display: block;
        color:blue;
      }
    </style>
    <h2>[[hello]]!</h2>
    <h2>Sos :[[name]]</h2>
    <h2>tenes : [[age]] años</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ComponenteTest extends Polymer.Element {
      static get is() { return 'componente-test'; }
      static get properties() {
        return {
          hello: {
            type: String,
            value: 'Hola , Bienvenido al componente-test3'
          },
          name: {
            type: String,
            value: 'Carlos Fabian Gonzalez Cortes'
          },
          age: {
            type: Number,
            value: 28
          }
        };
      }
    }

    window.customElements.define(ComponenteTest.is, ComponenteTest);
  </script>
</dom-module>
